<app-header></app-header>
<app-navigation></app-navigation>
<!-- en router-outlet va el contenido de la pagina -->
<router-outlet></router-outlet>
<!-- en router-outlet va el contenido de la pagina -->
<app-footer></app-footer>
